# Backend
MONGODB_URI=mongodb+srv://<nearhub>:<nuttytechs1234>@nearhub.mdj761d.mongodb.net/?appName=Nearhub
JWT_SECRET=near-hub-app
PORT=5000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000/api
